<% @genres.each do |genre| %>
    <div style="overflow-x: auto;margin-bottom: 10px;" class="featured_column">
      <div id="<%= genre.name %>"><h3><%= genre.name %></h3></div>
        <%= render :partial => 'thumbnails', :locals => {:movies => genre.featured_movies} %>
    </div>
<% end %>
