<% @genres.each do |genre| %>
    <% featured_movies = genre.featured_movies %>
    <% unless featured_movies.empty? %>
        <div id="genre-movies-listing" class="featured_column">
          <div id="<%= genre.name %>"><h3><%= genre.name %></h3></div>
          <%= render :partial => 'thumbnails', :locals => {:movies => featured_movies} %>
        </div>
    <% end %>
<% end %>
