<%= link_to movie_cul8r_path(movie.id), :remote => true, :title => "Add to your Watch List", :class => "text-white btn #{button_size} btn-primary" do %>
    <i class="icon-heart icon-white" style="margin-right: 2px"></i>CU l8r
<% end %>
<br/>
<% unless show_trailer == false or movie.trailer_url.nil? %>
    <button style="margin-top:5px" title="Opens trailer in a new window" class='btn <%= button_size -%> btn-primary' onclick="window.open('<%= movie.trailer_url %>');">
      <i class="icon-play icon-white" style="margin-right: 2px"></i>Watch Trailer
    </button>
<% end %>