<%= link_to image_tag(movie.poster_profile, :class => 'movie_thumbnail_picture', :title=> movie.name_and_year, :alt => movie.name), movie_show_popup_path(movie), 'data-toggle'=>"modal", 'data-target'=>"#movie_details", :onclick=>"$('#movie_details').html('');" %>
<h5 title="<%= movie.name_and_year %>"><%= movie.name.truncate(20) %></h5>