<ul class="thumbnails">
  <% movies.each do |movie| %>
      <li>
        <div class="thumbnail thumbnail_center_align">
          <%= render :partial => 'thumbnail', :locals => {:movie => movie} %>
          <%= render :partial => 'movie_action_buttons', :locals => {:movie => movie, :show_trailer => false} %>
        </div>
      </li>
  <% end %>
</ul>