<h3>My Watch List</h3>

<div id='watch_list'>
  <ul class="thumbnails">
    <% @movies_in_watch_list.each do |movie| %>
        <%= render :partial => 'watch_list_item', :locals => {:movie => movie} %>
    <% end %>
  </ul>
</div>

