<% title 'Movies' %>

<div class="row">
  <div class="movie_gallery span11 inner_content">
    <div style="line-height: 2em;text-align: center"><%= render :partial => 'genre_link', :collection => @genres %></div>
    <%= render :partial => 'genre_movies_showcase' %>
  </div>
</div>

<script type="text/javascript">
    $(window).load(function () {
        $('#latest-movies').show();
    });
</script>
<%= render :partial => 'popup_javascript' %>