<% title 'CU l8r' %>
<div class="pull-right" style="width: 45%;  margin-top: 25px;">
  <%= image_tag 'MyMovies.jpg' %>
</div>
<h1 style='padding-top: 20px'>This is your Movies Bucket List</h1>
<p class='' style="line-height:30px; padding-top:15px;font-size:18px;">
  <strong>Discover</strong> new movies.<br/>
  <strong>Know</strong> when they're playing in the theatres and out on DVD.<br/>
  <strong>Group</strong> with friends who want to watch the same movies.<br/>
  <br/>
  <%= render :partial => 'layouts/login_with_facebook' %>
</p>

<div>
  <iframe src="//www.facebook.com/plugins/like.php?href=href%3A%2F%2Fwww.cul8r.me&amp;send=false&amp;layout=standard&amp;width=300&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80&amp;appId=344919928902323" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:80px;" allowTransparency="true"></iframe>
</div>