<% title 'cul8r' %>
<h1 style='padding-top: 20px'>Here's the cul8r rap song B-)</h1>
<p class='' style="line-height:30px; padding-top:15px;font-size:18px;background: url('assets/cul8r_logo.png') no-repeat right">
  Saw an exciting new movie!<br/>
  Thought I just have to watch it.<br/>
  I'm a busy guy,<br/>
  Days went by and I forgot all about it.<br/>
  I wish someone had told me when it was showing in the theaters<br/>
  or when it came out on DVD.<br/>
  Then cul8r was born and I shouted loud with glee!<br/>
  <br/>
  <%= render :partial => 'layouts/login_with_facebook' %>
</p>