<% title 'cul8r' %>
<h1 class='text_red_center'>Hey cool new movie... CU l8r!</h1>
<p class='text_red_center' style="padding-top:15px;text-align: center;font-size:18px">
  Saw an exciting new movie!<br/>
  Thought I just have to watch it.<br/>
  Days went by and I forgot about it.<br/>
  I wish someone had told me when it was showing in the theaters<br/>
  or when it came out on DVD.<br/>
  Sounds familiar. Well we won't let that happen to you again. Hop in.<br/>
  <br/>
  <button title="Login using your facebook user name and password." class='btn btn-large btn-primary' onclick="window.location = ('<%= user_omniauth_authorize_path(:facebook) %>');">
    <table>
      <tbody>
      <tr>
        <td><%= image_tag 'facebook-logo-white-blue.png' %></td>
        <td><h1 class="text_white">Login with facebook</h1></td>
      </tr>
      </tbody>
    </table>
  </button>
</p>