<% title 'CU l8r' %>
<div class="pull-right" style="width: 45%;  margin-top: 25px;">
  <%= image_tag 'MyMovies.jpg' %>
</div>
<h1 style='padding-top: 20px'>This is your Movies Bucket List</h1>
<p class='' style="line-height:30px; padding-top:15px;font-size:18px;">
  <strong>Discover</strong> new movies.<br/>
  <strong>Know</strong> when they're playing in the theatres and out on DVD.<br/>
  <strong>Group</strong> with friends who want to watch the same movies.<br/>
  <br/>
  <%= render :partial => 'layouts/login_with_facebook' %>
</p>

<div>
  <iframe src="http://www.facebook.com/plugins/facepile.php?
app_id=302259526486707" scrolling="no" frameborder="0" style="border:none;
          overflow:hidden; width:500px;" allowTransparency="true">
  </iframe>
</div>