<% title 'CU l8r' %>
<h1 style='padding-top: 20px'>Here's the CU l8r rap song B-)</h1>
<p class='' style="line-height:30px; padding-top:15px;font-size:18px;background: url('assets/cul8r_logo.png') no-repeat right">
  Saw an exciting new movie!<br/>
  Thought I just have to watch it.<br/>
  I'm a busy guy,<br/>
  Days went by and I forgot all about it.<br/>
  I wish someone had told me when it was showing in the theaters<br/>
  or when it came out on DVD.<br/>
  Then CU l8r was born and made me Free!<br/>
  <br/>
  <%= render :partial => 'layouts/login_with_facebook' %>
    <div class="fb-facepile" data-href="http://www.cul8r.me" data-max-rows="1" data-width="500"></div>
</p>