<div style="text-align: center">
  I found an upcoming movie that got me really excited!
  Days went by and I forgot about it.
  I wish someone had reminded me when it was showing in the theaters or when it came on DVD.
  Sounds familiar. Well we won't let that happen to you again. Jump in.
  <%= link_to image_tag 'facebook_login_large.png', user_omniauth_authorize_path(:facebook) %>
</div>