Hi,<br/>
<br/>
Welcome to CU l8r - Your movies bucket list.<br/>
<br/>
We would love to hear from you.<br/>
Did you find CU l8r useful?<br/>
Would you like to see some features that would help us serve you better?<br/>
<br/>
Please feel free to write back.<br/>
<br/>
CU l8r,<br/>
Your friends @ <a href='http://www.cul8r.me'>CU l8r</a>

