.footer {
    border-top: solid thin #d3d3d3;
    text-align: center;
}

.watch-list {
    border-right: solid thin #d3d3d3;
    height: 550px;
    overflow-y: auto;
}

.top_nav_link_white {
    font-weight: bold;
}

.thumbnail_center_align {
    text-align: center;
}

.text_centered {
    text-align: center;
}

.text_white {
    color: white;
}

.btn {
    font-weight: bold;
}

.movie_thumbnail_picture {
    width: 120px;
    height: 180px;
}

.movie_poster_picture {
    width: 300px;
    height: 428px;
}