.footer {
    border-top: solid thin #d3d3d3;
    text-align: center;
}

.inner_content {
    height: 550px;
    overflow-y: auto;
}

.watch-list {
    overflow-y: scroll;
}

.top_nav_link_white {
    font-weight: bold;
}

.thumbnail_center_align {
    text-align: center;
    position: relative;
}

.text_centered {
    text-align: center;
}

.text_white {
    color: white;
}

.btn {
    font-weight: bold;
}

.movie_thumbnail_picture {
    width: 110px;
    height: 160px;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(93,2,2,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}