.footer {
    border-top: solid thin #d3d3d3;
    text-align: center;
}

.inner_content {
    height: 550px;
    overflow-y: auto;
}

.watch-list {
    border-right: solid thin #d3d3d3;
}

.top_nav_link_white {
    font-weight: bold;
}

.thumbnail_center_align {
    text-align: center;
    position: relative;
}

.text_centered {
    text-align: center;
}

.text_white {
    color: white;
}

.btn {
    font-weight: bold;
}

.movie_thumbnail_picture {
    width: 110px;
    height: 160px;
}