<div>
  &copy; CUL8r. All rights reserved.
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-9668564486344928";
  /* cul8r */
  google_ad_slot = "9953478947";
  google_ad_width = 468;
  google_ad_height = 15;
  //-->
  </script>
  <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
</div>